<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>TorneoWeb</display-name>
	<listener>
		<listener-class>py.edu.ucsa.listeners.AppContextListener</listener-class>
	</listener>
	<servlet>
		<description>
		</description>
		<display-name>TorneoServlet</display-name>
		<servlet-name>TorneoServlet</servlet-name>
		<servlet-class>py.edu.ucsa.servlets.TorneoServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>JugadorServlet</display-name>
		<servlet-name>JugadorServlet</servlet-name>
		<servlet-class>py.edu.ucsa.servlets.JugadorServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PartidoServlet</display-name>
		<servlet-name>PartidoServlet</servlet-name>
		<servlet-class>py.edu.ucsa.servlets.PartidoServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EquipoServlet</display-name>
		<servlet-name>EquipoServlet</servlet-name>
		<servlet-class>py.edu.ucsa.servlets.EquipoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TorneoServlet</servlet-name>
		<url-pattern>/TorneoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JugadorServlet</servlet-name>
		<url-pattern>/JugadorServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PartidoServlet</servlet-name>
		<url-pattern>/PartidoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EquipoServlet</servlet-name>
		<url-pattern>/EquipoServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
